<div class="container mt-5 mb-5">
    <img src="" width="100%">

    <h1 class="text-center">About</h1>

    <p>
        Welcome to WebKitchen, the premier online delivery service based in Sarajevo. 
        Our mission is to provide our customers with high-quality food and exceptional service, 
        delivered right to their doorstep. Our menu features a wide range of delicious options, 
        including local favorites and international cuisine, all prepared with fresh ingredients 
        and expertly crafted by our talented chefs. 
        With our easy-to-use website and mobile app, you can order your favorite meals and 
        track your delivery in real-time. Plus, our friendly and reliable delivery drivers ensure 
        that your food arrives hot and ready to enjoy. 
        At WebKitchen, we are committed to providing a convenient and enjoyable dining experience 
        for every customer. 
        <br/>
        Try us out today and taste the difference!
    </p>
</div>